# J-Link + LPC1768 — Open1768 Waveshare
# Passe "transport select swd" en "transport select jtag" si tu utilises
# le connecteur JTAG 20 broches au lieu du SWD 2 broches

source [find interface/jlink.cfg]
transport select swd

source [find target/lpc17xx.cfg]
# adapter speed 1000